# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/
.metadata/
*.launch
bin/
eclipse/

# VSCode
.vscode/

# Forge MDK
run/
forge*changelog.txt

# Gradle
gradle.properties
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar  # keep this tracked
!gradle/wrapper/gradle-wrapper.properties

# Custom
.env
.build/
